/* common.css */
		
/* Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess */

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

*{margin: 0; padding: 0;}
html, body{
    font: 18px / 170% 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #000;
}
table, tr, th, td{
    font: 18px / 170% 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #000;
    border-collapse: collapse;
}
input, select, potion, textarea, button{
    font: 18px / 170% 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #000;
    border-radius: 0;/*아이폰에서 끝이 둥글게나와서 초기화 해줌*/
    border: none;
    outline: none;
    background: transparent;
}
h1, h2, h3, h4, h5, h6{
    font-size: 1.0em;
    font-weight: 400;
}
b, strong{
    font-weight: normal;
}
i, em, address{
    font-style: normal;
}
ul, ol, li{
    list-style: none;
}
a, img, label{
    display: block;
}
img, fieldset, iframe, framset{
    border: none;
}
legend, caption, hr{
    display: none;
}
a{
    text-decoration: none;
    color: #000;
}

/** STYLE *******************/
.skip, .blind{
    display: block;
    height: 0;
    overflow: hidden;
    
    position: absolute;
    top: -6000px;
}





