/* contents_style.css */

/** HIRING STYLE *******************/
.bg{
    width: 100%;
}
    #hiring{
        width: 100%;
        background: url(../images/bg_hiring.jpg);
        background-attachment: fixed;
    }
    @media screen and (max-width: 767px){
    #hiring{margin-top: 100%;}
    }
            #hiring >.title >img{
                margin: 0 auto;
            }
        #hiring >img{
            padding: 0 50%;
        }
        #hiring >h3.h_con{
            font-weight: 700;
            text-align: center;
        }
        #hiring >h3.email{
            text-align: center;
            font-weight: 800;
        }
        @media screen and (min-width: 1367px){
        #hiring >.title{
            padding: 40px 0;
        }
            #hiring >.title >img{
                width: 768px;
            }
        #hiring >img{
            margin-left: -230px;
        }
        }
        @media screen and (min-width: 768px) and (max-width: 1366px){
        #hiring >.title{
            padding: 50px 0;
        }
            #hiring >.title >img{
                width: 700px;
            }
        #hiring >img{
            width: 600px;
            margin-left: -220px;
        }
        }
    @media screen and (min-width: 767px){
    #hiring{
        width: 100%; height: 618px;
        background: url(../images/bg_hiring.jpg);
        background-attachment: fixed;
    }
        #hiring >h3.h_con{
            font-size: 22px;
            margin-top: 36px;
        }
        #hiring >h3.email{
            font-size: 18px;
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 767px){
    #hiring{
        width: 100%;
        background: url(../images/bg_hiring.jpg);
        background-attachment: fixed;
    }
        #hiring >.title{
            padding: 30px 0;
        }
            #hiring >.title >img{
                width: 300px;
            }
        #hiring >img{
            width: 70%;
            margin-left: -25.77%;
        }
        #hiring >h3.h_con{
            font-size: 12px;
            margin-top: 10px;
            line-height: 20px;
        }
        #hiring >h3.email{
            font-size: 12px;
            margin-top: 0;
        }  
    }

/** INTRODUCE STYLE *******************/
#introduce{margin-top: 60px; width: 100%;}
    /* 중복 부분 */
            .name{
                font-family: 'Cinzel Decorative', cursive;
                font-weight: 700;
                text-align: center;
            }
            .con{text-align: center;}
    @media screen and (min-width: 768px){
    #introduce >div{overflow: hidden;}
    #introduce >div{position: relative; margin: 0 auto;}
        .con_intro{position: absolute;}
        
        #aw >.bg_intro{float: right;}
            #aw >.con_intro >div#pv{
                background: url(../images/btn_paly.png) no-repeat;
            }
    }
    @media screen and (min-width: 1367px){
    #introduce >div{width: 1356px;}
        .bg_intro{width: 678px;}
            .name{
                font-size: 38px;
                line-height: 70px;
            }
            .con{
                font-size: 22px;
                margin-top: 40px;
                line-height: 28px;
            }
    }
    @media screen and (min-width: 768px) and (max-width: 1366px){
        #introduce >div{width: 760px;}
        .bg_intro{width: 380px; height: 482px;}
            .name{
                font-size: 30px;
                line-height: 38px;
            }
            .con{
                font-size: 12px;
                margin-top: 40px;
                line-height: 20px;
            }
    }
    @media screen and (max-width: 767px){
        #introduce >div{width: 100%;}
        #introduce >div >div{}
        .bg_intro{width: 78.74%; height: 350px;}
        .con_intro{width: 100%; margin: 32px 0 30px;}
            .name{
                font-size: 24px;
                line-height: 25px;
                margin-bottom: 30px;
            }
            .con{
                font-size: 12px;
                margin-top: 0;
                line-height: 15px;
            }
    }

    #bs{}
        #bs >.bg_intro{
            background: url(../images/bg_bs.png) no-repeat left center;
        }
    @media screen and (min-width: 1367px){
        #bs >.con_intro{top: 280px; right: 20px;}
            #bs >.bg_intro >img{padding-top: 187px;}
    }
    @media screen and (min-width: 768px) and (max-width: 1366px){
        #bs >.con_intro{top: 132px; right: 15px;}
            #bs >.bg_intro >img{padding-top: 112px;}
            #bs >.bg_intro >img{width: 490px;}
    }
    @media screen and (max-width: 767px){
            #bs >.bg_intro >img{padding-top: 90px;}
            #bs >.bg_intro >img{width: 110%;}
    }

    #aw{overflow: hidden;}
        #aw >.bg_intro{
            background: url(../images/bg_as.png) no-repeat left center;
        }
            #aw >.bg_intro >img{float: right;}
            #aw >.con_intro >div#pv{border: 2px solid #000;}
            #aw >.con_intro >div#pv >img{margin: 18px 56px;}

    @media screen and (min-width: 1367px){
        #aw >.bg_intro{margin-top: 85px;}
            #aw >.bg_intro >img{margin-right: 98px;}
        #aw >.con_intro{top: 365px; left: 66px;}
            #aw >.con_intro >div#pv{
                margin: 50px auto 0;
                width: 330px; height: 60px;
                border-radius: 15px;
                background-position: 24px center;
            }
            #aw >.con_intro >div#pv >img{ margin: 18px 56px;}
    }
    @media screen and (min-width: 768px) and (max-width: 1366px){
        #aw >.bg_intro{margin-top: 46px;}
            #aw >.bg_intro >img{
                margin-right: 43px;
                width: 400px;
            }
        #aw >.con_intro{top: 200px; left: 52px;}
            #aw >.con_intro >div#pv{
                margin: 10px auto 0;
                width: 200px; height: 40px;
                border-radius: 10px;
                background-position: 10px center;
            }
            #aw >.con_intro >div#pv >img{
                margin: 15px 40px;
                width: 144px;
            }
    }
    @media screen and (max-width: 767px){
        #aw >.bg_intro{float: right;}
        #aw >.con_intro{float: left;}
            #aw >.bg_intro >img{
                margin-right: 50px;
                width: 100%;
            }
        #aw >.con_intro{padding-top: 30px;}
            #aw >.con_intro >div#pv{
                margin: 10px auto;
                width: 200px; height: 40px;
                border-radius: 10px;
                background: url(../images/btn_paly2.png) no-repeat;
                background-position: 10px center;
            }
            #aw >.con_intro >div#pv >img{
                margin: 15px 40px;
                width: 144px;
            }
    }

/** QUALITY STYLE ***********************/
    #quality >div{position: relative;}

@media screen and (min-width: 1367px){
#quality{margin: 70px 0;}
    #quality >div{height: 300px;}
}
@media screen and (min-width: 768px) and (max-width: 1366px){
#quality{margin: 70px 0;}
    #quality >div{
        width: 100%; height: 300px;
        left: -50px;
    } 
}
    @media screen and (max-width: 767px){
    #quality >div{
        width: 100%; height: 300px;
        top: 0; left: -100px;
    } 
    }
        #quality img{position: absolute;}
        .sp1{top: 100px;}
        .sp2{top: 98px;}
        .sp3{top: -30px; z-index: -10;}

        @media screen and (min-width: 768px){
        .tapioca{left: 306px; top: 139px;}
        .sugar{left: 342px; top: 162px;}
        .tea{left: 280px; top: 109px;}
        }  
        @media screen and (max-width: 767px){
        .sp1, .sp2, .sp3{width: 100%;}
        .sugar,.tea{width: 80%;} 
        .tapioca{width: 60%; left: 230px; top: 149px;}
        .sugar{left: 152px; top: 150px;}
        .tea{left: 130px; top: 149px;}
        }
        .green,
        .beige{
            box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
            display: inline-block;
            position: absolute;
        }
        @media screen and (min-width: 768px){
        .green,
        .beige{
            width: 244px; height: 244px;
            border-radius: 122px;
            top: 28px; left: 560px;
        }
        }
        @media screen and (max-width: 767px){
        .green,
        .beige{
            width: 190px; height: 190px;
            border-radius: 95px;
            top: 28px; left: 65%;
        }
        }
        .green{background: #2b3d41;}
        .beige{background: #c9bc9c;}
            #quality h3{
                color: #fff;
                text-align: center;
                position: absolute;
            }
            @media screen and (min-width: 768px){
            #quality h3{
                font-size: 30px;
                width: 244px; height: 244px;
                top: 80px;
            }
            }
            @media screen and (max-width: 767px){
            #quality h3{
                font-size: 24px;
                width: 190px; height: 190px;
                top: 44px;
            }
            }
        #quality h4{
            width: 890px;
            position: absolute;
            top: 150px; left: 840px;
        }
        @media screen and (max-width: 1366px){
        #quality h4{display: none;} 
        }


/** BEST STYLE ***********************/
@media screen and (min-width: 768px){
#best{display: block;}
#best_mobile{display: none;}
}
@media screen and (max-width: 767px){
#best{display: none;}
#best_mobile{display: block;}
}
#best{
    position: relative;
    background: #c9bc9c;
    width: 100%; height: 630px;
}
    #item_text{
        width: 361px;
        padding: 100px 0;
    }
    @media screen and (min-width: 1367px){
    #item_text{margin-left: 277px;}
    }
    @media screen and (min-width: 415px) and (max-width: 1366px){
    #item_text{margin-left: 50px;}
    }
        #item_text >ul{
        }
            #item_text >ul >li{
                height: 45px;
                overflow: hidden;
                
                transition-duration: 0.5s;
            }
            #item_text >ul >li.active{
                height: 256px;
            }
                #item_text >ul >li >a{
                    height: 45px;
                    line-height: 45px;
                    font-family: 'Cinzel Decorative', cursive;
                    font-size: 20px;
                    font-weight: 700;
                    display: inline;
                }
                #item_text >ul >li >a:hover{
                    text-decoration: underline;
                }
                #item_text >ul >li >a.active{
                    background: url(../images/btn_best.png) no-repeat right center;
                    padding-right:25px;
                }
                #item_text div{
                    margin-top: 35px;
                    margin-bottom: 50px;
                    height: 200px;
                }
                    #item_text div >a{
                        border-left: 3px solid #000;
                        padding-left: 43px;
                    }
                        #item_text div >a >strong{
                            font-family: 'Cinzel Decorative', cursive;
                            font-weight: 700;
                            font-size: 30px;
                            line-height: 30px;
                        }
                    #item_text div >a >p{
                        font-size: 16px;
                        line-height: 30px;
                        margin-top: 10px;
                    }

    #best >.imgs_wrap{
        width: 1185px; height: 446px;
        overflow: hidden;
        
        position: absolute;
    }
        #best >.imgs_wrap >.imgs{
            width: 2200px; height: 446px;
            overflow: hidden;

            position: absolute;
            left: 0; top: 0;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }
            .imgs >img{float: left;}
    @media screen and (min-width: 1367px){
    #best >.imgs_wrap{top: 120px; left: 760px;}
            .imgs >img{width: 435px;}
    }
    @media screen and (min-width: 768px) and (max-width: 1366px){
    #best >.imgs_wrap{top: 150px; left: 50%;}
            .imgs >img{width: 400px;}
    }
    @media screen and (max-width: 767px){
    #best >.imgs_wrap{top: 0; left: 0;}
            .imgs >img{width: 100%;}
    }
/* MOBILE */
#best_mobile{
    background: #c9bc9c;
    width: 100%; height: 480px;
    margin-top: 50px;
    
    position: relative;
}
    #best_mobile >h2{
        font-family: 'Cinzel Decorative', cursive;
        font-weight: 900;
        font-size: 50px;
        padding-top: 35px;
    }
        #best_mobile >h2 >strong{
            font-family: 'Cinzel Decorative', cursive;
            font-weight: 900;
            font-size: 80px;
        }
    #m_item{
        width: 320px; height: 400px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
        #m_item >ul{
            width: 1600px;
            overflow: hidden;
            position: absolute;
            left: 0; top: 0;
        }
            #m_item >ul >li{
                float: left;
                width: 320px;
            }
                #best_mobile >#m_item img{
                    width: 320px;
                }
                #m_item p{
                    width: 320px;
                    margin: 0 auto;
                    text-align: center;
                    
                }

        #best_mobile >button.btn_next,
        #best_mobile >button.btn_prev{
            width: 12px; height: 22px;
            position: absolute;
            
            text-indent: -6000px; overflow: hidden;
        }
        #best_mobile >button.btn_next{
            background: url(../images/btn_sns_next_n.png);
            right: 25px; top: 50%;
        }
        #best_mobile >button.btn_prev{
            background: url(../images/btn_sns_prev_n.png);
            left: 25px; top: 50%;
        }

/** INSTRAGRAM STYLE *******/
@media screen and (min-width: 768px){
#instagram{margin-bottom: 50px;}
}
    #instagram >#sns_title{
        position: relative;
    }
        #sns_title >h2{
            display: inline;
            position: absolute;
            font-weight: 700;
        }
        #sns_title >img{
            position: absolute;
            top: 0;
        }
        #sns_title >p{
            width: 400px;
            font-size: 16px;
            text-align: center;
            position: absolute;
            left: 50%; bottom: 0;
            margin-left: -200px;
        }
    @media screen and (min-width: 768px){
    #instagram >#sns_title{
        width: 670px; height: 100px;
        margin: 100px auto 0;
    }
        #sns_title >h2{
            font-size: 39px;
            left: 0; top: 28px;
        }
        #sns_title >img{right: 0;}
        #sns_title >p{font-size: 16px;}
    }
    @media screen and (max-width: 767px){
    #instagram >#sns_title{
        width: 320px; height: 70px;
        margin: 40px auto 0;
    }
        #sns_title >h2{
            font-size: 16px;
            left: 10px; top: 8px;
        }
        #sns_title >img{
            width: 150px;
            right: 10px;
        }
        #sns_title >p{font-size: 14px;}
    }

    #sns_slider{
        height: 250px;
        position: relative;
    }
    @media screen and (min-width: 768px){
    #sns_slider{padding: 60px 0;}
    }
    @media screen and (max-width: 767px){
    #sns_slider{padding: 40px 0;}
    }

        #sns_slider >.imgs_wrap{
            overflow: hidden;
            height: 250px;
            position: relative;
            margin: 0 auto;
        }
        @media screen and (min-width: 1367px){
        #sns_slider >.imgs_wrap{width: 780px;}
        }
        @media screen and (min-width: 768px) and (max-width: 1366px){
        #sns_slider >.imgs_wrap{width: 520px;}
        }
        @media screen and (max-width: 767px){
        #sns_slider >.imgs_wrap{width: 260px;}
        }
            #sns_slider >.imgs_wrap >ul{
                width: 1300px; height: 360px;
                position: absolute;
                left: 0; top: 0;
                transition-duration: 0.3s;
            }
                #sns_slider >.imgs_wrap >ul >li{
                    float: left;
                    padding: 0 5px;
                }
                    #sns_slider >.imgs_wrap >ul >li >img{width: 250px;}

        #sns_slider .btn_next,
        #sns_slider .btn_prev{
            width: 12px; height: 22px;
            position: absolute;
            top: 180px;
        }
        #sns_slider .btn_next{
            right: 50%;
            background: url(../images/btn_sns_next_a.png);
        }
        #sns_slider .btn_prev{
            left: 50%;
            background: url(../images/btn_sns_prev_n.png);
        }
        @media screen and (min-width: 1367px){
        #sns_slider .btn_next{margin-right: -478px;}
        #sns_slider .btn_prev{margin-left: -478px;}
        }
        @media screen and (min-width: 768px) and (max-width: 1366px){
        #sns_slider .btn_next{margin-right: -303px;}
        #sns_slider .btn_prev{margin-left: -303px;}
        }
        @media screen and (max-width: 767px){
        #sns_slider .btn_next{margin-right: -150px;}
        #sns_slider .btn_prev{margin-left: -150px;}
        }

/** CONTACT STYLE ***************/
#contact_bg{
}

    #contact{
        width: 100%;
        background: url(../images/bg_contact.jpg);
        background-attachment: fixed;
    }
        #contact >.wrap{
            margin: 0 auto;
            overflow: hidden;
        }
        @media screen and (min-width: 768px){
        #contact >.wrap{width: 653px;}
        }
        @media screen and (max-width: 767px){
        #contact >.wrap{width: 320px; margin: 0 auto;}
        }
            #contact >.wrap >div{
                width: 250px;
                font-family: 'Cinzel Decorative', cursive;
                color: #fff;
                float: left;
            }
            @media screen and (min-width: 768px){
            #contact >.wrap >div{margin: 232px 0 0;}
            }
            @media screen and (max-width: 767px){
            #contact >.wrap >div{
                margin: 100px 0 100px -125px;
                padding-left: 50%;
            }
            }
                #contact >.wrap >div >img{margin: 0 auto 50px;}
                #contact >.wrap >div >h3{
                    font-size: 25px;
                    font-weight: 700;
                    text-align: center;
                }
                #contact >.wrap >div >h2{
                    font-size: 40px;
                    font-weight: 700;
                    text-align: center;
                }
            #contact >.wrap >img{
                float: right;
                margin-top: 150px;
                margin-bottom: 100px;
            }

            @media screen and (max-width: 767px){
            #contact >.wrap >img{display: none;}
            }




