/* map_style.css */

#map{
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 1699px){
#map{height: 1200px;}
}
    #map >fieldset{
        position: absolute;
    }
    @media screen and (min-width: 1700px){
    #map >fieldset{
        float: right;
        width: 1030px;
        top: 110px; right: 178px;
    } 
    }
    @media screen and (min-width: 768px) and (max-width: 1699px){
    #map >fieldset{
        width: 680px; height: 40px;
        top: 100px; left: 50%;
        margin-left: -323px;
    } 
    }
    @media screen and (max-width: 767px){
    #map >fieldset{
        width: 320px; height: 40px;
        top: 100px; left: 50%;
        margin-left: -159px;
    }
    }
        #map >fieldset >input{
            height: 40px;
            border: 1px solid rgba(255,255,255,0.3);
            position: absolute;
        }
        #map >fieldset >input.search_text{bottom: 0;}
        #map >fieldset >input.search_btn{
            text-align: center;
            color: #fff;
            bottom: 0;
            background: rgba(0,0,0,0.3);
        }
        @media screen and (min-width: 1700px){
        #map >fieldset >input.search_text{
            left: 0; width: 851px; 
            padding: 0 23px;
        }
        #map >fieldset >input.search_btn{right: 0; width: 130px;}
        }
        @media screen and (min-width: 768px) and (max-width: 1699px){
        #map >fieldset >input.search_text{
            right: 153px; width: 500px; 
            padding: 0 23px;
        }
        #map >fieldset >input.search_btn{right: 23px; width: 130px;}
        }
        @media screen and (max-width: 767px){
        #map >fieldset >input.search_text{
            right: 100px; width: 190px; 
            font-size: 15px; 
            padding: 0 15px;
        }
        #map >fieldset >input.search_btn{right: 0; width: 100px;}
        }

    #map >.label{
        float: left;
        display: inline-block;
    }
    @media screen and (min-width: 1700px){
    #map >.label{
        width: 523px; height: 808px;
        margin-top: 70px;
        margin-left: 100px;
    }
    }
    @media screen and (min-width: 768px) and (max-width: 1699px){
    #map >.label{
        position: relative;
        width: 466px; height: 704px;
        top: 190px; left: 50%;
        margin-left: -360px;
    }
    }
    @media screen and (max-width: 767px){
    #map >.label{display: none;}
    }

        #map >.label >ul{
            position: relative;
        }
            #map >.label >ul >li{
                text-align: center;
                background: #c9bc9c;
                position: absolute;
            }
            #map >.label >ul >li.bg_map{
                width: 0; height: 0;
                left: 0; top: 0; z-index: -10;
            }
            #map >.label >ul >li.active{transition-duration: 0.3s;}

            @media screen and (min-width: 1700px){
            #map >.label >ul >li{
                width: 80px; height: 80px;
                line-height: 80px;
                border-radius: 40px;
            }
            #map >.label >ul >li.active{
                width: 100px; height: 100px;
                line-height: 100px;
                border-radius: 50px;
            }
            #map >.label >ul >li.seoul{left: 105px; top: 158px;}
            #map >.label >ul >li.gyeonggi{left: 218px; top: 170px;}
            #map >.label >ul >li.chungbuk{left: 257px; top: 286px;}
            #map >.label >ul >li.daejeon{left: 178px; top: 356px;}
            #map >.label >ul >li.daegu{left: 338px; top: 446px;}
            #map >.label >ul >li.gyeongnam{left: 285px; top: 560px;}
            #map >.label >ul >li.busan{left: 406px; top: 560px;}
            #map >.label >ul >li.gwangju{left: 80px; top: 616px;} 
            }
            @media screen and (min-width: 768px) and (max-width: 1699px){
            #map >.label >ul >li{
                width: 50px; height: 50px;
                line-height: 50px;
                border-radius: 25px;
            }
            #map >.label >ul >li.active{
                width: 70px; height: 70px;
                line-height: 70px;
                border-radius: 35px;
            }
            #map >.label >ul >li.seoul{left: 70px; top: 110px;}
            #map >.label >ul >li.gyeonggi{left: 145px; top: 120px;}
            #map >.label >ul >li.chungbuk{left: 180px; top: 200px;}
            #map >.label >ul >li.daejeon{left: 130px; top: 230px;}
            #map >.label >ul >li.daegu{left: 225px; top: 300px;}
            #map >.label >ul >li.gyeongnam{left: 200px; top: 380px;}
            #map >.label >ul >li.busan{left: 270px; top: 380px;}
            #map >.label >ul >li.gwangju{left: 70px; top: 400px;} 
                
                #map >.label >ul >li.bg_map >img{width: 350px;}
            }

    #map >#tabbar{position: absolute;}
    @media screen and (min-width: 1700px){
    #tabbar{
        top: 140px; right: 178px;
        width: 1030px; height: 690px;
        border: 1px solid rgba(255,255,255,0.3);
    }
    }
    @media screen and (max-width: 1699px){
    #tabbar{width: 320px;}
    }

    @media screen and (min-width: 768px) and (max-width: 1699px){
    #tabbar{
        top: 190px; left: 50%;
        margin-left: 50px;
        border: none;
    }
    }
    @media screen and (max-width: 767px){
    #tabbar{
        top: 190px; left: 50%;
        margin-left: -160px;
        }
    }

        #tabbar >div{
            display: none;
            position: absolute;
        }
        #tabbar >div.active{display: block;}
        @media screen and (min-width: 1700px){
        #tabbar >div{width: 1030px;}
        }
        @media screen and (max-width: 1699px){
        #tabbar >div{width: 320px;}
        }

            #tabbar >div >ul{
                display: none;
                position: absolute;
                left: 0; top: 40px;
            }
            @media screen and (min-width: 1700px){
            #tabbar >div >ul{left: 0; top: 40px;}
            }
            @media screen and (max-width: 1699px){
            #tabbar >div >ul{left: -23px; top: 0;}
            }
            #tabbar >div >ul.p_active{
                display: inline-block;
                width: 480px;
                margin-left: 23px;
                margin-right: 12px;
            }
                #tabbar >div >ul >li{border: 1px solid rgba(0,0,0,0.3);}
                @media screen and (min-width: 1700px){
                #tabbar >div >ul >li{
                    width: 480px; height: 147px;
                    padding-left: 16px;
                    padding-bottom: 5px;
                }
                }
                @media screen and (max-width: 1699px){
                #tabbar >div >ul >li{
                    width: 313px; height: 150px;
                    padding-left: 5px;
                    padding-bottom: 5px;
                }
                #tabbar >div >ul >li.map_active{
                    height: 500px;
                }
                }
                #tabbar >div >ul >li.map_active{
                    background: rgba(0,0,0,0.3);
                }
                    #tabbar >div >ul >li >a{
                        width: 480px;
                    }
                        #tabbar h3{}
                        @media screen and (max-width: 1699px){
                        #tabbar h3{font-size: 14px;}
                        }
                        #tabbar span{
                            color: #ccc;
                            display: block;
                        }
                        @media screen and (min-width: 1700px){
                        #tabbar span{font-size: 14px;}
                            a.tel{font-size: 14px;}
                        }
                        @media screen and (max-width: 1699px){
                        #tabbar span{font-size: 10px;}
                            a.tel{font-size: 10px;}
                        }

                        #tabbar span.open_we{
                            margin-left: 45px;
                        }
                            a.tel{
                                display: inline;
                                color: #ccc;
                            }


        #tabbar >div >iframe{position: absolute;}
        @media screen and (min-width: 1700px){
        #tabbar >div >iframe{
            width: 490px; height: 615px;
            margin: 20px 23px 20px 0;
            right: 0; top: 20px;
        }
        iframe.mt_map{display: none;}
        }
        @media screen and (max-width: 1699px){
        iframe.mt_map{
            display: none;
            width: 307px; height: 345px;
            }
        #tabbar >div >ul >li.map_active >iframe.mt_map{
            display: block;
        }
            #tabbar >div >iframe{display: none;}
            
        }

        nav.page{
            position: absolute;
        }
        @media screen and (min-width: 1700px){
        nav.page{left: 50%; bottom: -700px;}
        }
        @media screen and (max-width: 1699px){
        nav.page{left: 40%; bottom: -10px;}
        }
        nav.page >ul{
            overflow: hidden;
            width: 100px; height: 40px;
            margin: 0 auto;
        }
            nav.page >ul >li{
                width: 20px;
                float: left;
                margin-bottom: 15px;
            }
                nav.page >ul >li >a{
                    width: 20px;
                    text-align: center;
                    color: #ccc;
                }
                nav.page >ul >li >a.p_active{
                    color: #fff;
                    font-weight: 700;
                }







