/* master_sub.css */

@import url("header.css");
@import url("footer.css");

body{
    width: 100%;
}
#wrap{
    width: 100%;
}

/** VIDEO STYLE *******************************/
section#video{
    margin-top: 60px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
    #video >iframe{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

/** BRAND STYLE *******************************/

/** 중복 style_font **/
.sub_title{
    font-weight: 600;
    font-size: 23px;
    line-height: 36px;
}
.sub_con{
    color: #999;
}



#brand{
    padding: 60px 15px 0;
    position: relative;
}
    #title{
        width: 114px; height: 43px;
        background: url(../images/brand_title.png);
        text-indent: -6000px; overflow: hidden;
        
        position: absolute;
        left: 50%;
        margin-left: -57px;
    }
    /** BEAUTY **/
    #beauty{
        padding: 63px 0 30px;
        position: relative;
    }
        #beauty >img{
            width: 61.34%;
            padding-left: 50%; margin-left: -30.67%;
        }
        #beauty >div{
            width: 300px;
            position: absolute;
            left: 50%; bottom: 48px;
            margin-left: -130px;
        }

    /** HEALTHY **/
    #healthy{
        position: relative;
        background: #ececea;
        
        padding-bottom: 30px;
    }
        #healthy >img{
            width: 100%;
            float: left;
            padding: 18px 0;
            background: #ececea;
        }
        #healthy >div{
            width: 50%; height: 220px;
            float: left;
            position: absolute;
            left: 52%; top: 20%;
        }
            #healthy >div >h2{}
            #healthy >div >h3{}

    /** HONESTY **/
    #honesty{
        float: left;
        width: 48%;
        padding-top: 30px;
    }
    #honesty >img{
        width: 100%;
    }
    /** LIFE **/
    #life{
        float: right;
        width: 48%;
        padding-top: 30px;
    }
    #life >img{
        width: 100%;
    }

    /** NONE **/
    #none{
        padding-top: 80px;
    }
        #none >img{
            width: 46.86%;
            float: left;
            padding-top: 95px;
        }
        #none >div{
            float: left;
            padding-top: 30px;
            margin-left: 5px;
        }
            #none h2,
            #none h3{
                text-align: center;
            }
            #none h2{
                font-size: 18px;
            }

    /** SKIN **/
    #skin{
    }    
    #skin >img{
        width: 100%;
        padding-top: 30px;
    }
    #skin >div{
        width: 200px;
        padding-left: 50%;
        margin-left: -100px;
    }
        #skin h2,        
        #skin h3{
            text-align: center;
        }
        #skin h3.sub_end{
            padding-top: 10px;
            font-weight: 600;
        }

/** AWARD STYLE *******************************/

#award{
    padding-top: 60px;
}
    #thanks{}
        #thanks >img{
            width: 100%;
        }

    #list{
        margin: 60px 0;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 600;
    }
        #list >ul{}
            .award_con{
                height: 80px;
            }
                .award_con >h3{
                    float: left;
                }
                    .award_con >h3 >img{
                        margin-left: -10px;
                        margin-right: 10px;
                        border-right: 2px solid #ccc;
                    }
                .award_con >div{
                    line-height: 22px;
                }

                    .award_con >div >p{
                        font-size: 10px;
                        font-weight: 600;
                        color: #ccc;
                    }
                    .award_con >div >h3{
                        font-size: 10px;
                        font-weight: 600;
                    }
                    .award_con >div >h4{
                        font-size: 10px;
                        font-weight: 600;
                    }
                        .award_con >div >h4 >strong{
                            font-size: 10px;
                            font-weight: 600;
                            color: #812e41;
                        }


#shopping{
    width: 80%; height: 50px;
    background: #812e41;
    border-radius: 25px;
    margin-left: 10%;
    margin-bottom: 60px;
}
    #shopping >a{
        line-height: 50px;
        text-align: center;
        color: #fff;
    }









