/* master_introduce.css */

@import url(common.css);
@import url(header_style.css);
@import url(contents_style.css);
@import url(footer_style.css);

body{
    width: 100%;
}
#goTop{
    width: 100%;
    height: 32px;
    background: url(../images/bg_goTop.png)repeat-x;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
}
#kakaotalk{
    width: 75px; height: 75px;
    position: fixed;
    top: 450px; right: 0;
    z-index: 10;
}


/** VIDEO STYLE **********************/
#video{
    height: 946px;
    position: relative;
}
    #video > iframe {
        position: absolute;
        top: 178px; left: 354px;
    }



